# Dependencies
node_modules/

# Environment Variables & Local Configs
.env
.env.development
.env.local

# Logs
*.log
npm-debug.log*

# Coverage / Test artifacts
coverage/

# OS Files
.DS_Store
Thumbs.db
