# Dependencies
node_modules/
_archive/
.geminiignore*

# Environment Variables & Local Configs
.env
.env.development
.env.local

# Logs
*.log
npm-debug.log*

# Coverage / Test artifacts
coverage/
source-only.zip*

# OS Files
.DS_Store
Thumbs.db
